{% extends 'vagas/base.html' %}

{% block title %}
    Entrar como Instituição - UNIPI Conecta
{% endblock %}

{% block content %}

<div class="login-container">

    <div class="login-cabecalho">

        <h1>
            Plataforma de Estágios
        </h1>

        <p>
            Acesse sua conta para continuar
        </p>

    </div>


    <div class="login-titulo">

        <h2>
            Entrar
        </h2>

    </div>


    {% if messages %}

        {% for message in messages %}

            <div class="mensagem">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}


    <form method="post">

        {% csrf_token %}


        <div class="campo">

            <label for="username">
                Usuário
            </label>

            <input
                type="text"
                id="username"
                name="username"
                placeholder="Digite seu usuário"
                required
            >

        </div>


        <div class="campo">

            <label for="password">
                Senha
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Digite sua senha"
                required
            >

        </div>


        <button
            type="submit"
            class="botao"
        >
            Entrar
        </button>

    </form>


    <a
        href="{% url 'inicio' %}"
        class="voltar"
    >
        ← Voltar para o início
    </a>

</div>

{% endblock %}